form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.campo{
    position: relative;
}

.campo i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: var(--cor-placeholder);

}

.campo input{
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border-radius: var(--borda-arredondada);
    border: 1px solid var(--cor-borda);
    background-color: transparent;
    color: var(--cor-texto);
    outline: none;
    transition: border-color 0.2s ease;
}

.campo input:focus{
    border-color: var(--cor-primaria);
}

button{
    background-color: var(--cor-primaria);
    color: antiquewhite;
    padding: 0.75rem;
    border: none;
    border-radius: var(--borda-arredondada);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: var(--cor-primaria-hover);
}